.p-homepage {
  margin-top: 3rem; 
  text-align: center;
  overflow-x: hidden;
}

.hero {
  border-bottom: 1em dashed var(--sec-color);
  position: relative;
  min-height: 30rem;
}

.hero > * {
  height: inherit;
}

.home__zoom {
  width: inherit;
  height: inherit;
}

.hero__slideshow {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--layer-ground-1);
  overflow: hidden;
}

.hero__slideshow--overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .9);
  z-index: var(--layer-ground-2);
}

.hero__display {
  position: relative;
  min-height: inherit;
  padding: 2em 0;
  background: white;
}

.hero__display > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo {
  font-size: 3rem;
}

.hero__display--foreground {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: var(--layer-2);
}

.hero__display--background {
  z-index: var(--layer-1);
}

.hero__display--background .canvas {
  width: 100%;
  height: 100%;
}

.hero__blink {
  animation: blink .8s ease-in-out infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.home__section-1 {
  padding-bottom: 12em;
  position: relative;
  overflow: hidden;
  z-index: var(--layer-1);
  background: linear-gradient(180deg, var(--pry-color) 10%, white);
  border-radius: 5em 5em 0 0;
  margin-top: 1rem;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 93% 1%, 88% 0, 81% 1%, 76% 0, 70% 1%, 63% 0, 55% 1%, 48% 0, 41% 1%, 35% 0, 28% 1%, 21% 0, 15% 1%, 9% 0, 5% 1%, 0 0);
}

.home__section-1::before,
.home__section-1::after {
  content: "";
  position: absolute;
  bottom: -10em;
  width: 90%;
  height: 20em;
  background: white;
  border-radius: 50%;
  border-top: 2em solid var(--sec-color);
  z-index: var(--layer-ground-1);
}
.home__section-1::before {
  left: -10em;
}
.home__section-1::after {
  right: -10em;
}

.home__section-1 h2 {
  padding: 3em 0 1em 0;
}

.home__boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1em;
}

.home__box {
  clip-path: circle(10% at 0 50%);
  transition: .4s;
  min-width: 15rem;
  margin: 1em;
}

.home__box h3 {
  color: var(--sec-color);
}

.home__section-1 .home__box {
  background: white;
  padding: 3em 1em;
  border-radius: 30%;
}

.home__box:hover {
  transform: scale(1.06)!important;
  border: var(--pry-color);
}

.home__box.scrolled {
  clip-path: circle(130% at 0 50%);
}

/*
.home__box:first-child {
  transform: translateY(0);
  animation: reveal-box 1s .4s;
  animation-fill-mode: forwards;
}

.home__box:nth-child(2) {
  transform: translateY(-10%);
  animation: reveal-box 1s .7s;
  animation-fill-mode: forwards;
}

.home__box:nth-child(3) {
  transform: translateY(-20%);
  animation: reveal-box 1s ease-out .9s;
  animation-fill-mode: forwards;
}
*/
@keyframes reveal-box {
  100% {
    clip-path: circle(125% at 0 50%);
  }
}

.home__section-2 {
  justify-content: center;
}

.home__section-2 .home__box {
  border: .3em solid var(--pry-color);
  max-width: 300px;
  border-radius: 0;
}

@media (min-width: 600px) {
  .home__section-1 {
    
  }

  .home__box {
    --br: 5em;
    max-width: 300px;
    padding: 0 1em;
    margin: .5em;
  }

  .home__boxes {
    flex-direction: row;
  }
}

